.wrap {
  width: 100%;
  height: 58vh;
  display: flex;
  justify-content: center;

}

.content {

  position: relative;
  width: 85%;
  height: 100%;
  border-radius: 5px;
  //background: linear-gradient(120deg,#FF40C1,#BA14CC);
  background: linear-gradient(-120deg, #7C02F5, #A118EA);
  //background: #ee5253;
  //background-color: #13161f;
  //background: linear-gradient(60deg, rgba(239,148,92,1) 0%, rgba(228,84,162,1) 100%);
  //background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  color: white;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
  opacity: 20%;
}

.image {
  position: absolute;
  width: 40%;
  height: 104%;
  left: 40px;
  bottom: 40px;
  color: white;
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);

}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 80%;
  bottom: 10%;
  left: 50%;
  h2 {
    font-size: 3em;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.6em;
    line-height: 1.3em;
  }
  .star {
    display: flex;
    color: #ff9f43;
    padding: 10px 0;
    align-items: center;
    p {
      margin-left: 20px;
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
  p.details {
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6.5em;
    line-height: 1.3em;
  }

  .sub {
    margin: 30px 0;
    h3 {
      font-size: 2em;
      clear: both;
      font-family: 'Roboto Condensed', sans-serif;
      width: 50px;
      display: inline-block;
    }
    i {
      width: 2em;
      height: 2em;
      padding: 0.45em;
      font-size: 1.8em;
      border-radius: 2em;
      background-color: #16a085;
      margin-left: 20px;
      font-style: normal;
    }

  }

  .options {
    display: flex;
    a {
      width: 40%;
      font-size: 2.5em;
      text-align: center;
      color: white;
      display: inline-block;
      border-radius: 50px;
      padding: 0.5em 1em;
    }
    a:nth-child(1) {
      background: #34495e;
    }
    a:nth-child(2) {
      margin-left: 20px;
      background: #2980b9;
    }
  }

}
