@body-background-color: #fff;
@primary-text-color: #131516;
@secondary-text-color: #707c80;
@score-text-color: #d35400;
@level-text-color: #16a085;

//circle color table
@circle-1: #27ae60;
@circle-2: #3498db;
@circle-3: #e74c3c;
@circle-4: #9b59b6;
@circle-5: #e67e22;
@circle-6: #4b6584;
@circle-7: #fc5c65;
@circle-8: #26de81;
@circle-9: #3867d6;
@circle-10: #a55eea;
@circle-11: #a5b1c2;
@circle-12: #fa8231;
