@import "../../Styles/Layout/layout";

//TODO variable must be number instead of px loi vcl
.wrap {
  @media (min-width: 662px) {
    width: calc(floor((662px-10px)/(@movie-card-width-num + @movie-card-marginLR-num * 2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
  }
  @media (min-width: 876px) {
    width: calc(floor((876px-10px)/(@movie-card-width-num + @movie-card-marginLR-num * 2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
  }
  @media (min-width: 1027px) {
    width: calc(floor((1027px-10px)/(@movie-card-width-num + @movie-card-marginLR-num*2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
  }
  @media (min-width: 1276px) {
    width: calc(floor((1276px-10px)/(@movie-card-width-num + @movie-card-marginLR-num*2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
  }
  @media (min-width: 1390px) {
    width: calc(floor((1390px-10px)/(@movie-card-width-num + @movie-card-marginLR-num*2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
  }
  @media (min-width: 1610px) {
    width: calc(6px * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
  }
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  &.sb-wd-scr-active {
    @media (min-width: 1276px) {
      width: calc(floor((1276px - 10px - @sidebar-width)/(@movie-card-width-num + @movie-card-marginLR-num*2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
    }
    @media (min-width: 1390px) {
      width: calc(floor((1390px - 10px - @sidebar-width)/(@movie-card-width-num + @movie-card-marginLR-num*2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
    }
    @media (min-width: 1610px) {
      width: calc(floor((1610px - 10px - @sidebar-width)/(@movie-card-width-num + @movie-card-marginLR-num*2)) * (@movie-card-width-num + 2 * @movie-card-marginLR-num));
    }
  }
}
